In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# Input AutoStructure data

In [3]:
cols=[0,1,2,3,4,5,7]
olgfile="ls-ishftls/olg_modALL"
TRM=pd.read_csv(olgfile,sep='\s+',header='infer',skiprows=693,nrows=90,usecols=cols)

In [49]:
E1=pd.read_csv(olgfile,sep='\s+',header='infer',skiprows=1031,nrows=462)
E1['A(EK)*SEC']=E1['A(EK)*SEC'].astype(float)

In [50]:
E2=pd.read_csv(olgfile,sep='\s+',header='infer',skiprows=1495,nrows=539)
E2['A(EK)*SEC']=E2['A(EK)*SEC'].astype(float)

In [51]:
E3=pd.read_csv(olgfile,sep='\s+',header='infer',skiprows=2036,nrows=259)
E3['A(EK)*SEC']=E3['A(EK)*SEC'].astype(float)

In [52]:
E4=pd.read_csv(olgfile,sep='\s+',header='infer',skiprows=2297,nrows=2821-2297-1)
E4['A(EK)*SEC']=E4['A(EK)*SEC'].astype(float)

In [53]:
E5=pd.read_csv(olgfile,sep='\s+',header='infer',skiprows=2822,nrows=3073-2822-1)
E5['A(EK)*SEC']=E5['A(EK)*SEC'].astype(float)

In [54]:
E6=pd.read_csv(olgfile,sep='\s+',header='infer',skiprows=3074,nrows=3408-3074-1)
E6['A(EK)*SEC']=E6['A(EK)*SEC'].astype(float)

In [23]:
# 3s5g - CF=12
trm_3s5g=TRM.loc[TRM.loc[:]['CF']==12][:]
n3s5g=len(trm_3s5g)
trm_3s5g

     I   T     K*CM  2S+1  L  CF  (EI-E1)/RY
25  26  15  57263.0     3  4  12    0.521817
26  27  20  57263.0     1  4  12    0.521817

In [24]:
# 3s6h - CF=19
trm_3s6h=TRM.loc[TRM.loc[:]['CF']==19][:]
n3s6h=len(trm_3s6h)
trm_3s6h

     I   T     K*CM  2S+1  L  CF  (EI-E1)/RY
38  39   7  58619.0    -3  5  19    0.534175
39  40  11  58619.0    -1  5  19    0.534175

In [25]:
# 3s6g - CF=18
trm_3s6g=TRM.loc[TRM.loc[:]['CF']==18][:]
n3s6g=len(trm_3s6g)
trm_3s6g

     I   T     K*CM  2S+1  L  CF  (EI-E1)/RY
36  37  21  58611.0     1  4  18    0.534101
37  38  16  58611.0     3  4  18    0.534101

In [26]:
# 3s7h - CF=25
trm_3s7h=TRM.loc[TRM.loc[:]['CF']==25][:]
n3s7h=len(trm_3s7h)
trm_3s7h

     I   T     K*CM  2S+1  L  CF  (EI-E1)/RY
50  51  12  59429.0    -1  5  25    0.541556
51  52   8  59429.0    -3  5  25    0.541556

In [27]:
# 3s7i - CF=26
trm_3s7i=TRM.loc[TRM.loc[:]['CF']==26][:]
n3s7i=len(trm_3s7i)
trm_3s7i

     I  T     K*CM  2S+1  L  CF  (EI-E1)/RY
52  53  3  59431.0     3  6  26    0.541571
53  54  5  59431.0     1  6  26    0.541571

# Copy transition data of interest in new DataFrame

In [28]:
header=['T','2S+1','L','CF']
vformat=' '
hformat=' '
for i in range(4):
    vformat=vformat+'{v['+str(i)+']:.0f}\t ' 
    hformat=hformat+'{v['+str(i)+']}\t '

In [55]:
dat1=E1.loc[-1:-1][:]
for k in trm_3s5g['I']:
    for kp in trm_3s6h['I']:
        print(k,"==>",kp)
        lk=TRM.iloc[k-1][header].tolist()
        lkp=TRM.iloc[kp-1][header].tolist()
        print(hformat.format(v=header))
        print(vformat.format(v=lk))
        print(vformat.format(v=lkp))
        dummy=E1.loc[(E1.loc[:]['I']==kp) & (E1.loc[:]['IP']==k)]
        if dummy.empty==True:
            dummy=E2.loc[(E2.loc[:]['I']==kp) & (E2.loc[:]['IP']==k)]
            if dummy.empty==True:
                dummy=E3.loc[(E3.loc[:]['I']==kp) & (E3.loc[:]['IP']==k)]
                if dummy.empty==True:
                    dummy=E4.loc[(E4.loc[:]['I']==kp) & (E4.loc[:]['IP']==k)]
                    if dummy.empty==True:
                        dummy=E5.loc[(E5.loc[:]['I']==kp) & (E5.loc[:]['IP']==k)]
                        if dummy.empty==True:
                            dummy=E6.loc[(E6.loc[:]['I']==kp) & (E6.loc[:]['IP']==k)]
                            if dummy.empty==True:
                                print("transition not found")
                            else:
                                print("type: E6")
                                dat1=dat1.append(dummy)
                        else:
                            print("type: E5")
                            dat1=dat1.append(dummy)
                    else:
                        print("type: E4")
                        dat1=dat1.append(dummy)
                else:
                    print("type: E3")
                    dat1=dat1.append(dummy)
            else:
                print("type: E2")
                dat1=dat1.append(dummy)
        else:
            print("type: E1")
            dat1=dat1.append(dummy)
        print('=========')

for k in trm_3s6g['I']:
    for kp in trm_3s7h['I']:
        print(k,"==>",kp)
        lk=TRM.iloc[k-1][header].tolist()
        lkp=TRM.iloc[kp-1][header].tolist()
        print(hformat.format(v=header))
        print(vformat.format(v=lk))
        print(vformat.format(v=lkp))
        dummy=E1.loc[(E1.loc[:]['I']==kp) & (E1.loc[:]['IP']==k)]
        if dummy.empty==True:
            dummy=E2.loc[(E2.loc[:]['I']==kp) & (E2.loc[:]['IP']==k)]
            if dummy.empty==True:
                dummy=E3.loc[(E3.loc[:]['I']==kp) & (E3.loc[:]['IP']==k)]
                if dummy.empty==True:
                    dummy=E4.loc[(E4.loc[:]['I']==kp) & (E4.loc[:]['IP']==k)]
                    if dummy.empty==True:
                        dummy=E5.loc[(E5.loc[:]['I']==kp) & (E5.loc[:]['IP']==k)]
                        if dummy.empty==True:
                            dummy=E6.loc[(E6.loc[:]['I']==kp) & (E6.loc[:]['IP']==k)]
                            if dummy.empty==True:
                                print("transition not found")
                            else:
                                print("type: E6")
                                dat1=dat1.append(dummy)
                        else:
                            print("type: E5")
                            dat1=dat1.append(dummy)
                    else:
                        print("type: E4")
                        dat1=dat1.append(dummy)
                else:
                    print("type: E3")
                    dat1=dat1.append(dummy)
            else:
                print("type: E2")
                dat1=dat1.append(dummy)
        else:
            print("type: E1")
            dat1=dat1.append(dummy)
        print('=========')
        

for k in trm_3s6h['I']:
    for kp in trm_3s7i['I']:
        print(k,"==>",kp)
        lk=TRM.iloc[k-1][header].tolist()
        lkp=TRM.iloc[kp-1][header].tolist()
        print(hformat.format(v=header))
        print(vformat.format(v=lk))
        print(vformat.format(v=lkp))
        dummy=E1.loc[(E1.loc[:]['I']==kp) & (E1.loc[:]['IP']==k)]
        if dummy.empty==True:
            dummy=E2.loc[(E2.loc[:]['I']==kp) & (E2.loc[:]['IP']==k)]
            if dummy.empty==True:
                dummy=E3.loc[(E3.loc[:]['I']==kp) & (E3.loc[:]['IP']==k)]
                if dummy.empty==True:
                    dummy=E4.loc[(E4.loc[:]['I']==kp) & (E4.loc[:]['IP']==k)]
                    if dummy.empty==True:
                        dummy=E5.loc[(E5.loc[:]['I']==kp) & (E5.loc[:]['IP']==k)]
                        if dummy.empty==True:
                            dummy=E6.loc[(E6.loc[:]['I']==kp) & (E6.loc[:]['IP']==k)]
                            if dummy.empty==True:
                                print("transition not found")
                            else:
                                print("type: E6")
                                dat1=dat1.append(dummy)
                        else:
                            print("type: E5")
                            dat1=dat1.append(dummy)
                    else:
                        print("type: E4")
                        dat1=dat1.append(dummy)
                else:
                    print("type: E3")
                    dat1=dat1.append(dummy)
            else:
                print("type: E2")
                dat1=dat1.append(dummy)
        else:
            print("type: E1")
            dat1=dat1.append(dummy)
        print('=========')

26 ==> 39
 T	 2S+1	 L	 CF
 15	 3	 4	 12
 7	 -3	 5	 19
type: E1
=========
26 ==> 40
 T	 2S+1	 L	 CF
 15	 3	 4	 12
 11	 -1	 5	 19
transition not found
=========
27 ==> 39
 T	 2S+1	 L	 CF
 20	 1	 4	 12
 7	 -3	 5	 19
transition not found
=========
27 ==> 40
 T	 2S+1	 L	 CF
 20	 1	 4	 12
 11	 -1	 5	 19
type: E1
=========
37 ==> 51
 T	 2S+1	 L	 CF
 21	 1	 4	 18
 12	 -1	 5	 25
type: E1
=========
37 ==> 52
 T	 2S+1	 L	 CF
 21	 1	 4	 18
 8	 -3	 5	 25
transition not found
=========
38 ==> 51
 T	 2S+1	 L	 CF
 16	 3	 4	 18
 12	 -1	 5	 25
transition not found
=========
38 ==> 52
 T	 2S+1	 L	 CF
 16	 3	 4	 18
 8	 -3	 5	 25
type: E1
=========
39 ==> 53
 T	 2S+1	 L	 CF
 7	 -3	 5	 19
 3	 3	 6	 26
type: E1
=========
39 ==> 54
 T	 2S+1	 L	 CF
 7	 -3	 5	 19
 5	 1	 6	 26
transition not found
=========
40 ==> 53
 T	 2S+1	 L	 CF
 11	 -1	 5	 19
 3	 3	 6	 26
transition not found
=========
40 ==> 54
 T	 2S+1	 L	 CF
 11	 -1	 5	 19
 5	 1	 6	 26
type: E1
=========

In [56]:
dat1

,E1-DATA,I,IP,A(EK)*SEC,S,G*F,F(ABS),-F(EMI),WAVEL/AE,GF(VEL),V(GFL*GFV),GF(ACC),ALPHA(POL)
126,127,39,26,-1701000.0,-11106.217469,-45.751841,-1.69451,-1.38642,73736.4180,44.7612,-45.2538,-6304.4448,44378.9980
128,129,40,27,-1702000.0,-3703.618796,-15.256984,-1.69522,-1.38700,73736.4180,14.9207,-15.0879,-2101.4525,44397.5345
203,204,51,37,-551400.0,-5468.061116,-13.587572,-1.50973,-1.23523,122240.7278,13.2764,-13.4311,-1868.5991,108667.5371
206,207,52,38,-550800.0,-16387.959664,-40.722403,-1.50824,-1.23401,122240.7278,39.8177,-40.2675,-5602.3703,108560.0653
208,209,53,39,-749100.0,-26972.739510,-66.493332,-2.01495,-1.70496,123217.2169,66.0266,-66.2596,-9441.0979,147358.6249
210,211,54,40,-749100.0,-8990.913170,-22.164444,-2.01495,-1.70496,123217.2169,22.0089,-22.0865,-3147.0326,147358.6249

# Operate over new dataframe with data of interest

In [58]:
# remove useless columns:
dat1.drop(columns=['E1-DATA','S', 'ALPHA(POL)'],inplace=True)
# take absolute value of gf and add its logarithm as new column
dat1['G*F']=abs(dat1['G*F'])
dat1['A(EK)*SEC']=abs(dat1['A(EK)*SEC'])
dat1['log(GF)']=np.log(dat1['G*F'])
# compute the relative error of GF in length and velocity gauge in new column:
dat1['ER% G*F']=(abs(dat1.loc[:]['G*F'])-abs(dat1.loc[:]['GF(VEL)']))/abs(dat1.loc[:]['G*F'])*100

# Input of database transition data to be updated

In [59]:
database=pd.read_csv("Line-um.dat",sep='\t',header='infer')
ndb=len(database)

In [60]:
database

,AtomicNumber,IonCharge,ModelIndex,LineNumber,type,LowerLevel,UpperLevel,Wavelength,gf,A,...,EWavenLower,EWavenUpper,gLower,gUpper,2Jlower,2JUpper,broad,prd,nlteparm,commentid
0,12,0,1,113,1,26,39,73736.416,39.774250,5.347882e+07,...,57262.760,58618.942,27,33,26,32,0,0,1,0
1,12,0,1,116,1,26,40,73736.416,5.973240,6.387271e+05,...,57262.760,58618.942,27,11,26,10,0,0,1,0
2,12,0,1,114,1,27,39,73736.416,5.972245,2.024906e+04,...,57262.760,58618.942,9,33,8,32,0,0,1,0
3,12,0,1,115,1,27,40,73736.417,9.289700,1.036199e+06,...,57262.760,58618.942,9,11,8,10,0,0,1,0
4,12,0,1,118,1,37,51,122240.720,35.410380,4.790526e+05,...,58610.795,59428.853,27,33,26,32,0,0,1,0
5,12,0,1,119,1,37,52,122240.720,5.323150,2.160442e+05,...,58610.795,59428.853,27,11,26,10,0,0,1,0
6,12,0,1,120,1,38,52,122240.720,8.260400,3.352548e+05,...,58610.795,59428.853,9,11,8,10,0,0,1,0
7,12,0,1,117,1,38,51,122240.720,5.322741,7.200919e+04,...,58610.795,59428.853,9,33,8,32,0,0,1,0
8,12,0,1,122,1,39,53,123217.200,66.208020,7.919099e+05,...,58618.942,59430.517,33,39,32,38,0,0,1,0
9,12,0,1,124,1,39,54,123217.200,0.280071,9.466305e+03,...,58618.942,59430.517,33,13,32,12,0,0,1,0
10,12,0,1,123,1,40,54,123217.200,21.878000,7.394689e+05,...,58618.942,59430.517,11,13,10,12,0,0,1,0
11,12,0,1,121,1,40,53,123217.200,0.279710,3.087096e+03,...,58618.942,59430.517,11,39,10,38,0,0,1,0

In [24]:
# en DataBase:    en AS:
#
# 3s5g-3G:
#  LwLev=26       T=15   I=26
#
# 3s5g-1G:
#  LwLv=27        T=20   I=27
#
# ---------------------------------
#
# 3s6h-3H:
#  LwLv=39        T=7   I=39
#
# 3s6h-1H:
#  LwLv=40        T=11   I=40
#
# 3s6g-3G:
#  LwLev=37       T=16   I=38
#
# 3s6g-1G:
#  LwLv=38        T=21   I=37
#
# ---------------------------------
#
# 3s7h-3H:
#  LwLv=51        T=8   I=52
#
# 3s7h-1H:
#  LwLv=52        T=12   I=51
#       
# 3s7i-3I:
#  LwLv=53        T=3   I=53
#
# 3s7i-1I:
#  LwLv=54        T=5   I=54
#

In [61]:
as2db={27:27,                     # 3s5g-1G
       26:26,                     # 3s5g-3G
       40:40,                     # 3s6h-1H
       39:39,                     # 3s6h-3H
       37:38,                     # 3s6g-1G
       38:37,                     # 3s6g-3G
       51:52,                     # 3s7h-1H
       52:51,                     # 3s7h-3H
       54:54,                     # 3s7i-1I
       53:53,                     # 3s7i-3I
       }

In [63]:
database_updated=database.copy()
print('        database     AS')
for i in range(ndb):
    print(i)
    dumm=database.iloc[i:i+1][:]
    lwlv=dumm.iloc[0]['LowerLevel']
    uplv=dumm.iloc[0]['UpperLevel']
    print(lwlv,"=>",uplv)
    for (auto, dbase) in as2db.items():
        if lwlv==dbase:
            lw_as=auto
            print('lower=  ',int(lwlv)," == ",auto)
        if uplv==dbase:
            up_as=auto
            print('upper=  ',int(uplv)," == ",auto)
    dum2=dat1.loc[:][(dat1.loc[:]['I']==up_as)&(dat1.loc[:]['IP']==lw_as)]
    as_gf=dum2.loc[:]['G*F'].tolist()
    as_A=dum2.loc[:]['A(EK)*SEC'].tolist()
    as_wavelength=dum2.loc[:]['WAVEL/AE'].tolist()
    if len(as_gf)==1: 
        database_updated.at[i,'gf']=as_gf[0]
    else:
        database_updated.at[i,'gf']=0.0
    if len(as_A)==1: 
        database_updated.at[i,'A']=as_A[0]
    else:
        database_updated.at[i,'A']=0.0
    if len(as_wavelength)==1:
        database_updated.at[i,'Wavelength']=as_wavelength[0]
    else
        database_updated.at[i,'Wavelength']=0.0

    print(' ')

        database     AS
0
26.0 => 39.0
lower=   26  ==  26
upper=   39  ==  39
[45.751841] 1

1
26.0 => 40.0
lower=   26  ==  26
upper=   40  ==  40
[] 0

2
27.0 => 39.0
lower=   27  ==  27
upper=   39  ==  39
[] 0

3
27.0 => 40.0
lower=   27  ==  27
upper=   40  ==  40
[15.256984] 1

4
37.0 => 51.0
lower=   37  ==  38
upper=   51  ==  52
[40.722403] 1

5
37.0 => 52.0
lower=   37  ==  38
upper=   52  ==  51
[] 0

6
38.0 => 52.0
lower=   38  ==  37
upper=   52  ==  51
[13.587572] 1

7
38.0 => 51.0
lower=   38  ==  37
upper=   51  ==  52
[] 0

8
39.0 => 53.0
lower=   39  ==  39
upper=   53  ==  53
[66.493332] 1

9
39.0 => 54.0
lower=   39  ==  39
upper=   54  ==  54
[] 0

10
40.0 => 54.0
lower=   40  ==  40
upper=   54  ==  54
[22.164444] 1

11
40.0 => 53.0
lower=   40  ==  40
upper=   53  ==  53
[] 0

In [64]:
database_updated

,AtomicNumber,IonCharge,ModelIndex,LineNumber,type,LowerLevel,UpperLevel,Wavelength,gf,A,...,EWavenLower,EWavenUpper,gLower,gUpper,2Jlower,2JUpper,broad,prd,nlteparm,commentid
0,12,0,1,113,1,26,39,73736.416,45.751841,1701000.0,...,57262.760,58618.942,27,33,26,32,0,0,1,0
1,12,0,1,116,1,26,40,73736.416,0.000000,0.0,...,57262.760,58618.942,27,11,26,10,0,0,1,0
2,12,0,1,114,1,27,39,73736.416,0.000000,0.0,...,57262.760,58618.942,9,33,8,32,0,0,1,0
3,12,0,1,115,1,27,40,73736.417,15.256984,1702000.0,...,57262.760,58618.942,9,11,8,10,0,0,1,0
4,12,0,1,118,1,37,51,122240.720,40.722403,550800.0,...,58610.795,59428.853,27,33,26,32,0,0,1,0
5,12,0,1,119,1,37,52,122240.720,0.000000,0.0,...,58610.795,59428.853,27,11,26,10,0,0,1,0
6,12,0,1,120,1,38,52,122240.720,13.587572,551400.0,...,58610.795,59428.853,9,11,8,10,0,0,1,0
7,12,0,1,117,1,38,51,122240.720,0.000000,0.0,...,58610.795,59428.853,9,33,8,32,0,0,1,0
8,12,0,1,122,1,39,53,123217.200,66.493332,749100.0,...,58618.942,59430.517,33,39,32,38,0,0,1,0
9,12,0,1,124,1,39,54,123217.200,0.000000,0.0,...,58618.942,59430.517,33,13,32,12,0,0,1,0
10,12,0,1,123,1,40,54,123217.200,22.164444,749100.0,...,58618.942,59430.517,11,13,10,12,0,0,1,0
11,12,0,1,121,1,40,53,123217.200,0.000000,0.0,...,58618.942,59430.517,11,39,10,38,0,0,1,0

In [66]:
database_updated.to_csv(r'Line-updated.dat', header=True, index=None, sep='\t', mode='a')